* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FCF5EB;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(4px);
    border-bottom: 1px solid rgba(17, 27, 33, 0.1);
    z-index: 1;
}

main {
    margin-top: 13vh;
    flex-grow: 1;
}

nav {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    padding: 0px 1em;
}

nav ul li a {
    color: black;
    text-decoration: none;
    position: relative;
}

nav ul li a:after {
    content: '';
    width: 100%;
    height: 0.1em;
    background-color: #25D366;
    position: absolute;
    bottom: -0.4em;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: left;
}

nav ul li a:hover {
    font-weight: bold;
}

nav ul li a:hover:after {
    transform: scaleX(1);
}

.white-background {
    background-color: white;
    border-radius: 30px;
    padding: 0.2em;
    border-bottom: white;
}

.custom-select {
    list-style-type: none;
    position: relative;
    width: 21vw;
    cursor: pointer;
    border-top: white;
}

.select-box {
    font-size: 1em;
    color: black;
    padding: 0.6em;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.select-box:hover {
    font-weight: bold;
}

.options {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    flex-direction: row;
    padding: 2em;
    width: 100vw;
    left: -18vw;
    opacity: 0;
    transition: opacity 0s ease-in-out;
    max-height: 0;
    overflow: hidden;
    margin-top: 1.5vh;
}

.options.show {
    display: flex;
    opacity: 1;
    min-height: 50vh;
}

.option {
    border: 1px solid #ccc;
    margin-right: 0.8vw;
    cursor: pointer;
    border-radius: 10px;
    padding: 2em;
    position: relative;
}

.option img {
    width: 30%;
    height: 30%;
    margin-bottom: 1vh;
}

.option h1 {
    margin-bottom: 5vh;
}

.option p {
    margin-bottom: 6vh;
}

.option .one-image {
    position: absolute;
    max-width: 3vw;
    max-height: 6vh;
    bottom: 1vh;
}

.option:hover {
    background-color: #25D366;
}

.download {
    font-size: 1em;
    font-weight: 400;
    border-radius: 50px;
    background-color: #25D366;
    padding: 2vh 3vw;
    border: 1px solid #111B21;
}

.download:hover {
    transform: scale(1.03);
    background-color: darkgreen;
    cursor: pointer;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
}





/* main sections */

section.hero {
    background-image: url('../Whatsapp Project/Pictures/hug.png');
    margin: 2em;
    padding: 5em;
    border-radius: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: space-evenly;
}

section.hero p {
    color: white;
    font-size: 1.3em;
    font-weight: 100;
    margin-bottom: 7vh;

}

section.hero .main-message {
    padding: 6em;
    max-width: 35vw;
    margin-right: 5em;
}

.second-download {
    outline: none;
}

section.hero .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section.hero h1 {
    color: white;
    font-size: 5em;
    font-weight: 400;
}

section.hero .chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.hero .chat img {
    width: 60%;
}

section.hero .chat .react {
    position: relative;
    top: -3%;
}

.hidden {
    opacity: 0;
    transform: translateY(50px);
}

.visible {
    opacity: 1;
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
    transform: translateY(0);
}

section.chatBoxes {
    margin: 3em 5%;
}

section.chatBoxes img {
    width: 100%;
}

section.chatBoxes h1 {
    font-weight: 400;
    font-size: 3em;
    width: 60%;
    text-align: center;
    margin: auto;
}

section.videoCall {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section.videoCall .middlemessage {
    max-width: 25vw;
    word-spacing: 0.5vw;
}

section.videoCall .middlemessage h1 {
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 1vh;
}

section.videoCall .middlemessage p {
    font-size: 1.2em;
    margin-bottom: 2vh;
}

section.videoCall .middlemessage span a {
    text-decoration: none;
    color: #1c1e21;
    border-bottom: 3px solid #25D366;
    max-width: fit-content;
}

section.videoCall .middlemessage span a:hover {
    color: #25D366;
}

section.dark {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111B21;
    margin-top: 6vh;

}

section.dark .dark-image {
    margin-top: 5vh;
    margin-right: 6vw;
}

section.dark .thirdmessage {
    max-width: 31vw;
    color: white;
}

section.dark .thirdmessage p {
    font-size: 1.2em;
    margin-bottom: 4vh;
}

section.dark .thirdmessage h1 {
    max-width: 10vw;
    font-size: 3.5em;
    font-weight: 400;
    margin-bottom: 1vh;

}

section.dark .thirdmessage h1 span {
    color: #25D366;
}

section.dark .thirdmessage span a {
    text-decoration: none;
    color: white;
    border-bottom: 3px solid #25D366;
    max-width: fit-content;
}

section.dark .thirdmessage span a:hover {
    color: #25D366;
}

section.best-friends {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section.best-friends .best-message {
    max-width: 30vw;
    word-spacing: 0.5em;
}

section.best-friends .best-message h1 {
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 1vh;
}

section.best-friends .best-message p {
    font-size: 1.2em;
    margin-bottom: 2vh;
}

section.best-friends .best-message span a {
    text-decoration: none;
    color: #1c1e21;
    border-bottom: 3px solid #25D366;
    max-width: fit-content;
}

section.best-friends .best-message span a:hover {
    color: #25D366;
}

section.smiling {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;

}

section.smiling img {
    margin-top: 5vh;
    margin-right: 6vw;
}

section.smiling .smilingmessage {
    max-width: 31vw;
    color: black;
}

section.smiling .smilingmessage p {
    font-size: 1.2em;
    margin-bottom: 4vh;
}

section.smiling .smilingmessage h1 {
    max-width: 20vw;
    font-size: 3.5em;
    font-weight: 400;
    margin-bottom: 1vh;

}

section.smiling .smilingmessage h1 span {
    color: #25D366;
}

section.smiling .smilingmessage span a {
    text-decoration: none;
    color: black;
    border-bottom: 3px solid #25D366;
    max-width: fit-content;
}

section.smiling .smilingmessage span a:hover {
    color: #25D366;
}

section.business {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section.business .business-message {
    max-width: 30vw;
    word-spacing: 5px;
}

section.business .business-message h1 {
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 1vh;
}

section.business .business-message p {
    font-size: 1.2em;
    margin-bottom: 2vh;
}

section.business .business-message span a {
    text-decoration: none;
    color: #1c1e21;
    border-bottom: 3px solid #25D366;
    max-width: fit-content;
}

section.business .business-message span a:hover {
    color: #25D366;
}






/* footer */

footer {
    background-color: #111B21;
    color: white;
    padding: 100px 15%;
    width: 100vw;
}

footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

footer .column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

footer .column p {
    font-size: small;
    margin-bottom: 20px;

}

footer .column a {
    font-size: medium;
    margin: 5px 0px;
    color: white;
    text-decoration: none;
}

footer .column a:hover {
    transform: scale(1.1);
}

footer .column a:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: center;

}

footer .column a:hover:after {
    transform: scaleX(1);
}

footer .social {
    margin: 5px 0px;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-top: 1px solid #33463f;
    padding: 15px 0px;
}

footer .social a {
    background-color: #1c1e21;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid white;
    transition: transform 0.5s ease-in, background-color 0.3s ease-in;
}

footer .social a:hover {
    transform: scale(1.2);
    background-color: #25D366;
}